<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>
            Dashboard - Aplikasi Ujian Online
        </title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <link href="{base}/___/css/bootstrap.css" rel="stylesheet"/>
        <link href="{base}/___/css/style.css" rel="stylesheet"/>
        <script src="{base}/___/js/jquery-1.11.3.min.js">
        </script>
        <script src="{base}/___/js/bootstrap.min.js">
        </script>
    </head>
    <body>
        {header}
        {content}
        {footer}
    </body>
</html>