{siswa_detail}
<form action="" class="form-horizontal" method="POST" role="form">
    <div class="form-group">
        <legend>
            Edit Siswa
        </legend>
    </div>
    <div class="form-froup">
        <label>
            Nama
        </label>
        <input class="form-control" name="nama" type="" value="{nama}" required="required" />
    </div>
    <div class="form-froup">
        <label>
            NO HP
        </label>
        <input class="form-control" name="no_hp_siswa" type="" required="required" value="{no_hp_siswa}"/>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-primary" type="submit">
                Submit
            </button>
        </div>
    </div>
</form>
{/siswa_detail}
