<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>
            Dashboard - Aplikasi Ujian Online
        </title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <link href="{base}/___/css/bootstrap.css" rel="stylesheet"/>
        <link href="{base}/___/css/style.css" rel="stylesheet"/>
        <script src="{base}/___/js/jquery-1.11.3.min.js">
        </script>
        <script src="{base}/___/js/bootstrap.min.js">
        </script>
    </head>
    <body onload="window.print()">


    	// kalau may prnt bagusnya pakai table
    	// kamu rapikan sendiri ya///

<!-- siap makasih mas
 -->
 <!-- sampai sini dulu , bisa difahami semua kan? -->
 <!-- sangat bisa n simple banget mas, munkin bisa di tiru ke depane -->
 <!-- harus.. tinggalkan aliran sesat . kwkwkw -->
 <!--  wkwkwk siap siap mas suwon loh
 	ok

 -->

        {absen_cetak}
        <div class="row">
            <div class="form-group">
                <div class="col-sm-3">
                    Nama Siswa
                </div>
                <div class="col-sm-9">
                    {nama}
                </div>
            </div>
            <!--  -->
                
{/absen_cetak}
    </body>
</html>
